

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: Arial;
}
.ion{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: whitesmoke;
}
a{
  color: black;
}
/* icon*/
.fa-solid.fa-square-plus{
  font-size: 20px;
}
.fa-solid.fa-less-than{
  font-size: 20px;
}
.ex{
  font-weight: bold;
}
.data{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:400px;
  background-color: black;
  padding: 15px;
  margin-top:20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
button{
  padding: 7px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}
button:hover{
  color:black;
  border: 1px solid white;
  background-color: white;
}
.color{
  display: flex;
  justify-content: space-between;
}
.green{
  color: limegreen;
  font-weight: bold;
}

.red{
  color: red;
  font-weight: bold;
}
.ana{
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  font-weight: bold;
}
/*   piechart*/
.pie{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: conic-gradient(
  black 0% 40%,
  grey 40% 75%,
  lightgrey 75% 100%
  
  );
}

.jjj{
  position: relative;
}
.first-p{
  position: absolute;
  top: 45%;
  right: 0px;
  color: white;
}
.second-p{
  position: absolute;
  bottom: 25%;
  right: 50%;
  color: white;
}
.third-p{
  position: absolute;
  bottom:0px;
  top: 30%;
  left:40%;
  color: white;
}
.expenses{
  padding: 30px;
  background-color: lightgrey;
  color: black;
  width: 450px;
  font-weight: bold;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.expenses:hover{
  background-color: grey;
}
.fa-solid.fa-thumbs-up{
  border:1px solid grey;
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 5px;
}
.expendiv{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
}

.iconss{
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: lightgrey;
  padding: 15px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}


