*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Arial;
  }
  
  #main-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 20px solid #1E3387;
    padding: 0px;
  }
  /* logo */
  .first-logo{
    width:100%;
    height: 75px;
    margin-left: 32px;
  
  /*styling the nav bar */
  }
  .links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 160px;
    margin-right: 24px;
    padding: 24px;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  /* styling the icon section */
  #icon-holder{
   color:#1E3387;
   justify-content: space-between;
   display: flex;
   align-items: center;
   padding-left: 24px;
   padding-right: 32px;
   margin-left: 40%;
   margin-right: 32px;
   gap: 32px;
  }
  
  .Hero-Container {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: none;
  border-right: 10px solid #788BE3;
  border-top: 10px solid #788BE3;
  border-bottom: 10px solid #788BE3;
  width: 400px;
  height: 300px;
  margin-top: 150px;
  margin-left: 60px;
  background-color: #788BE3;
  
  }
  
  .get {
  
    font-size: 16px;
    font-weight: 300px;
  }
  
  .get-2 {
    margin-top: 55px;
  }
  .but{
    width: 150px;
    padding: 5px;
    color: #ffffff;
    background-color: #1E3387;
    border-radius: 30px;
    margin-top: 5px;
  
  }
  
  .hero-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  } 
  
  .hero-image {
    
    background-color: beige;
  }
  